<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Unlocked</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="dark-theme">
    <div class="container">
        <h1 class="success-glow">✅ File Unlocked</h1>
        <p class="instruction-text">Here is your download link:</p>
        <a class="download-link" href="https://gofile.io/d/VVXjQ0" target="_blank">📥 Click here to download the file</a>
        <p class="note-text">Thanks for supporting. If you have any issue, DM on Instagram:</p>
<a class="insta-link" href="https://www.instagram.com/freakypremiumunlock?igsh=MXQ1cnh1ajIxZTEwbg==" target="_blank">📩 DM @freakypremiumunlock</a>
    </div>
</body>
</html>
